<div style="height: 550px; max-height: 540px; overflow-y: auto; background-color: #ffffff; padding: 15px 20px 50px 20px;">
  <p class="text-left">
    <a href="https://www.instagram.com/pepperminty_marketing/" class="a-btn" target="_blank">
      <%= image_tag instagram_feed.first.user.profile_picture, style:"border-radius: 50%; width: 15%; border: 1px solid #ccc;" %>
      <span style="color: #333333;"><%= instagram_feed.first.user.username %></span>
    </a>
  </p>
  <hr/>
  <% instagram_feed.each do |instagram| %>
      <a href=<%=instagram.link%> style="text-decoration:none;" target="_blank">
        <p class="text-left"><%= instagram.caption.text %></p>
        <p><%= image_tag instagram.images.standard_resolution.url %></p>
      </a>
      <p>
        <%= instagram.likes[:count] %> likes <br/>
        <span class="footer-text"><%= distance_of_time_in_words(Time.at(instagram.created_time.to_i),Time.now).upcase %> AGO</span>
      </p>
      <hr/>
  <% end %>
</div>