<div class="col-xs-12 text-left">

  <% unless (service == 'website') %>
    <%= link_to website_path, class: "col-md-2 btn-container" do %>
        <%= image_tag 'btn-website.png' %>
        <div class="overlay"></div>
        <div class="overlay-text"><strong>Website design <span> >> </span> </strong></div>
    <% end %>
  <% end %>

  <% unless (service == 'seo') %>
    <%= link_to seo_path, class: "col-md-2 btn-container" do %>
        <%= image_tag 'btn-seo.jpg' %>
        <div class="overlay"></div>
        <div class="overlay-text"><strong>SEO <span> >> </span> </strong></div>
    <% end %>
  <% end %>

  <% unless (service == 'advertising') %>
    <%= link_to advertising_path, class: "col-md-2 btn-container" do %>
        <%= image_tag 'btn-advertising.jpg' %>
        <div class="overlay"></div>
        <div class="overlay-text"><strong>PPC <span> >> </span> </strong></div>
    <% end %>
  <% end %>

  <% unless (service == 'social') %>
    <%= link_to social_path, class: "col-md-2 btn-container" do %>
        <%= image_tag 'btn-social.jpg' %>
        <div class="overlay"></div>
        <div class="overlay-text"><strong>Social media <span> >> </span> </strong></div>
    <% end %>
  <% end %>

</div>