<% content_for :title do %>Advertising<% end %>
<% content_for :description do %>Paid Search Marketing for your Small Business. Take away the hassle of bidding on keywords with our tailored PPC Campaigns.<% end %>
<% content_for :keywords do %>Paid Search Marketing, Pay Per Click, PPC, PPC campign, Paid Search Campaign, Keyword, Search Terms, Adwords, Bing, Ad Account, Keyword Bidding, <% end %>

<div class='bgimg advertising-bgimg'>
  <div class='col-sm-8 col-md-push-3'>
    <div class="row">
      <div class="col-md-12 col-xs-12 col-sm-8 text-left bgimg-content">
        <h1 style="font-weight:600;"><br/><br/>Increase your<br/> site’s traffic with<br/> Pay Per Click</h1>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="section">
    <div class="col-xs-12 text-center margin-bottom-20">
      <h2>Advertising</h2>
    </div>
    <div class="col-xs-12 text-left">
      <p>Pay-Per-Click (PPC) is one of the most popular forms of advertising online. On the more popular search engines
        your advert is displayed in various places including the top, sides or display banners – you only pay when someone
        clicks on these ads.</p>
      <p><span class="secondary-color">Search advertising</span> is extremely targeted and refers to the sponsored results
        at the top of Google listings when a search query is run; when done right you can deliver instant and meaningful traffic.
        The keywords generated will mean your site only appears when people search for the words you select. The control
        is in your hands as you can decide specifically what you advertise, the times and place your ads show and also you
        control your daily budget. Paid search also encompasses <span class="secondary-color">display advertising</span>
        which is the textual or graphical adverts that are placed on 3rd party websites; and also
        <span class="secondary-color">remarketing</span> which allows you to target your ads to people that have visited your site already,
        allowing you to convert window shoppers to customers. </p>
      <p>With experience in AdWords, Yahoo and Bing and managing both low to high end budgets, we’re confident on getting
        your site ranking and traffic at a high level. What’s more, for any new advertisers to Google AdWords you can get a
        free advertising voucher worth £75 to kick start your PPC journey. </p>
    </div>
  </div>
</div>

<div class="row grey">
  <div class="section">
    <div class="col-xs-12 text-center margin-bottom-50">
      <h3>Here's the reasons you should use Pepperminty Marketing to manage your PPC Campaigns:</h3>
    </div>
    <div class="col-xs-12 text-center margin-bottom-50">

        <div class="col-md-4 text-center">
          <%= image_tag 'icon-advertising-adwords.png', class: "margin-top-bottom-20" %>
          <h4 class="service-heading">Google AdWords</h4>
          <p>Our expertise in this area is second to none, and we’ll spend time finding the right formula for your business</p>
        </div>

        <div class="col-md-4 text-center">
          <%= image_tag 'icon-advertising-bing.png', class: "margin-top-bottom-20" %>
          <h4 class="service-heading">Bing Ads</h4>
          <p>Make the most of Bing’s popular search engine with expertly placed ads</p>
        </div>

        <div class="col-md-4 text-center">
          <%= image_tag 'icon-advertising-ads.png', class: "margin-top-bottom-20" %>
          <h4 class="service-heading">Display Advertising</h4>
          <p>Your display ads will be targeting an audience that has already indicated an interest in your service or product</p>
        </div>

    </div>

    <div class="col-xs-12 text-center">

        <div class="col-md-4 text-center">
          <%= image_tag 'icon-advertising-sway.png', class: "margin-top-bottom-20" %>
          <h4 class="service-heading">Remarketing</h4>
          <p>Improve ROI and increase conversions by marketing to people who have already visited your website</p>
        </div>

        <div class="col-md-4 text-center">
          <%= image_tag 'icon-advertising-conversion.png', class: "margin-top-bottom-20" %>
          <h4 class="service-heading">Conversion Tracking</h4>
          <p>You’ll fundamentally want to measure the results of your PPC activities, and we’ll set you up with conversion
            tracking tools such as Google analytics, so you can truly measure your ROI.</p>
        </div>

        <div class="col-md-4 text-center">
          <%= image_tag 'icon-home-social-media.png', class: "margin-top-bottom-20" %>
          <h4 class="service-heading">Social Media</h4>
          <p>PPC advertising through social media including Facebook and LinkedIn are additional useful for start-ups and SMEs.
            By looking at estimated search traffic in a specific geographical location and estimated average cost per click. </p>
        </div>

    </div>

  </div>
</div>

<div class="row">
  <div class="section" style="width:100%;">

    <div class="col-xs-6 text-right vertical-align-wrap" style="height: 282px;">
      <div class="left-text vertical-align-content">
        <p class="margin-bottom-20 text-left">If you would like to explore the paid search advertising arena, then speak to us today and find out how we can support you.</p>
        <div class="text-center"><%= submit_tag "Get a quote", class: "btn-style start" %></div>
      </div>
    </div>
    <div class="col-xs-6">
      <%= image_tag 'ppc.png', class: 'border-img-1' %>
    </div>

  </div>
</div>

<%= render partial: "contact_form" %>

<div class="row green">
  <div class="section" style="width:100%;">
    <div class="col-md-12 text-center margin-bottom-50">
      <h2>Checkout our additional services for other marketing areas that may be of interest</h2>
    </div>

    <%= render partial: "page_links", locals: {service: @service} %>
  </div>
</div>