<% content_for :title do %>Advertising<% end %>

<div class='row advertising-bgimg'>

  <div class='col-sm-8 col-md-push-3'>
    <div class="row">
      <div class="col-md-12 col-xs-12 col-sm-8 text-left">
        <h1 style="font-weight:600;"><br/><br/>Increase your<br/> site’s traffic with<br/> Pay Per Click</h1>
      </div>
    </div>
  </div>

</div>

<div class="row">
  <div class="col-xs-12 text-center default-container">

    <div class="row">
      <div class="col-md-12 text-center">
        <h3>Advertising</h3>
      </div>
    </div>
    <div class="col-xs-12 text-left text-container">
      <p>Pay-Per-Click (PPC) is one of the most popular forms of advertising online. On the more popular search engines
        your advert is displayed in various places including the top, sides or display banners – you only pay when someone
        clicks on these ads.</p>
      <p>Search advertising is extremely targeted, and when done right you can deliver instant and meaningful traffic.
        The keywords generated will mean your site only appears when people search for the words you select. The control
        is in your hands as you can decide specifically what you advertise, the times and place your ads show and also you
        control your daily budget.</p>
      <p>With experience in AdWords, Yahoo and Bing and managing both low to high end budgets, we’re confident on getting
        your site ranking and traffic at a high level. What’s more, for any new advertisers to Google AdWords you can
        get a free advertising voucher worth £75 to kick start your PPC journey.</p>
    </div>

    <div class="col-xs-12 text-left">
      <h3>Conversion Tracking</h3>
      <p>You'll fundamentally want to measure the results of your PPC activities, and we'll set you up with conversion
        tracking tools such as Google analytics, so you can truly measure your ROI.</p>
    </div>
    <div class="col-xs-12 text-center sub-container">
      <div class="col-md-3 text-center">
        <%= image_tag 'icon-advertising-adwords.png' %>
        <h4>Google AdWords</h4>
        <p>Our expertise in this area is second to none, and we’ll spend time finding the right formula for your business</p>
      </div>
      <div class="col-md-3 text-center">
        <%= image_tag 'icon-advertising-bing.png' %>
        <h4>Bing Ads</h4>
        <p>Make the most of Bing’s popular search engine with expertly placed ads</p>
      </div>
      <div class="col-md-3 text-center">
        <%= image_tag 'icon-advertising-ads.png' %>
        <h4>Display Advertising</h4>
        <p>Your display ads will be targeting an audience that has already indicated an interest in your service or product</p>
      </div>
      <div class="col-md-3 text-center">
        <%= image_tag 'icon-advertising-sway.png' %>
        <h4>Remarketing</h4>
        <p>Improve ROI and increase conversions by marketing to people who have all ready visited your website</p>
      </div>
    </div>
    <div class="col-md-12 text-left text-container">
      <div class="col-md-12 text-right"><%= submit_tag 'Get in touch', class: "btn btn-success quote-btn" %></div>
    </div>

    <div class="col-xs-12 text-left text-container">
      <p>PPC advertising through social media &lt;hyperlink to social media page&gt; including Facebook and LinkedIn
        are additional useful for start-ups and SMEs. By looking at estimated search traffic in a specific geographical
        location and estimated average cost per click.</p>
    </div>

  </div>
</div>
