<% content_for :title do %>Contact Us<% end %>
<% content_for :description do %>If you require Marketing support for your Small Business then Contact Pepperminty Marketing for marketing assistance at affordable rates.<% end %>
<% content_for :keywords do %>Pepperminty Marketing Digital Marketing, London Marketing Agency, Marketing for Start-ups, Marketing for Small Businesses, Marketing for SMEs, Search Engine Optimistation, SEO, Website Design, Website Development, PPC, Paid Search Marketing, Pay Per Click, AdWords, Bing, Social Media Marketing, internet marketing<% end %>

<div class='row text-center'>
  <div class="col-md-12">
    <h3>Contact Us</h3>
  </div>
</div>

<div class="row default-container">

  <div class="col-md-6 text-left">
    <div class="text-container">
      <p>Let’s chat, perhaps over some peppermint tea (or coffee, you decide)?</p>
      <img src="/assets/contact-us.jpg" alt="Contact">
    </div>
  </div>

  <div class="col-md-6 text-left">
  <%= form_tag(submit_query_url) do %>
    <div class="col-md-6 text-left">
      <div class="form-group">
        <%= text_field_tag :name, nil, class:"form-control", required: true, placeholder: "Name" %>
      </div>
      <div class="form-group">
        <%= email_field_tag :email, nil, class:"form-control", required: true, placeholder: "Email ID" %>
      </div>
    </div>
    <div class="col-md-6 text-left">
      <div class="form-group">
        <%= text_field_tag :company_name, nil, class:"form-control", required: true, placeholder: "Company Name" %>
      </div>
      <div class="form-group">
        <%= telephone_field_tag :phone, nil, class:"form-control", required: true, placeholder: "Telephone" %>
      </div>
    </div>
    <div class="col-md-12 text-center">
      <div class="form-group">
        <%= select_tag "category", options_for_select(@categories), include_blank: false, required: true,
                       class: 'form-control', prompt: 'Select Category' %>
      </div>
      <div class="form-group">
        <%= text_area_tag "message", "", "cols": 20, "rows": 10, required: true, placeholder: 'Message', class: "form-control" %>
      </div>
      <div class="form-group">
        <div class="text-right">
          <%= submit_tag 'Submit', class: "form-control btn btn-success" %>
        </div>
      </div>
    </div>
  <% end %>
  </div>

</div>
<hr/>