<% content_for :title do %>Contact Us<% end %>

<div class='row text-center'>
  <h1>Contact Us</h1>
</div>

<hr class="line-color"/>

<div class="row alt-content-container responsive-content-container" style="margin-bottom: 5%;margin-top: 5%;">

  <div class="col-md-6 text-left">
    <div>
      <p>Let’s chat, perhaps over some peppermint tea (or coffee, you decide)?</p>
      <img src="/assets/teacup.jpg" alt="Contact">
    </div>
  </div>

  <div class="col-md-6 text-left">
  <%= form_tag('/contacts') do %>
    <div class="col-md-6 text-left">
      <div class="form-group">
        <%= text_field_tag :name, nil, class:"form-control", placeholder: "Name" %>
      </div>
      <div class="form-group">
        <%= text_field_tag :email, nil, class:"form-control", placeholder: "Email ID" %>
      </div>
    </div>
    <div class="col-md-6 text-left">
      <div class="form-group">
        <%= text_field_tag :company_name, nil, class:"form-control", placeholder: "Company Name" %>
      </div>
      <div class="form-group">
        <%= text_field_tag :phone, nil, class:"form-control", placeholder: "Telephone" %>
      </div>
    </div>
    <div class="col-md-12 text-center">
      <div class="form-group">
        <% @categories = [["Select Category", ''],
                          ["Website Design & Development", 1],
                          ["Search Engine Optimisation", 2],
                          ["Advertising", 3],
                          ["Social Media", 4],
                          ["Others", 5]] %>
        <%= select_tag "category", options_for_select(@categories), class: "form-control" %>
      </div>
      <div class="form-group">
        <%= text_area "post", "body", "cols": 20, "rows": 10, placeholder: 'Message', class: "form-control" %>
      </div>
      <div class="form-group">
        <div class="text-right">
          <%= submit_tag 'Submit', class: "form-control btn btn-success" %>
        </div>
      </div>
    </div>
  <% end %>
  </div>

</div>
<hr/>