<% content_for :title do %>Home<% end %>
<% content_for :description do %>Pepperminty Marketing is the Digital Marketing and Software Development & Design agency for Start-ups and Small Businesses. We range in services that include website design, Search Engine Optimisation, Paid Search Social Media and more. Contact us today to discuss your business' marketing requirements.<% end %>
<% content_for :keywords do %>Pepperminty Marketing, Digital Marketing, London Marketing Agency, Marketing for Start-ups, Marketing for Small Businesses, Marketing for SMEs, Search Engine Optimistation, SEO, Website Design, Website Development, PPC, Paid Search Marketing, Pay Per Click, AdWords, Bing, Social Media Marketing, internet marketing<% end %>

<div class='hero-bgimg'>

  <div class="row">
    <div class="col-xs-12 col-sm-12 text-center">
      <h1 class="margin-bottom-50">Digital marketing solutions for your small business</h1>
      <h2 class="margin-bottom-50">Fresh thinking. Flexible. Affordable.</h2><br/><br/>
      <%= button_tag "Let's get started", class: "btn-style start" %><br/><br/>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-12 text-center">
      <span class="more-home-arrow">
        <h2 class="glyphicon glyphicon-chevron-down"></h2>
      </span>
    </div>
  </div>

</div>

<div class="row" id="more-home">
  <div class="section" style="width:100%;">
    <div class="col-xs-12 text-center margin-bottom-50">
      <h2>What we're about</h2>
    </div>

    <div class="col-xs-6 text-right vertical-align-wrap" style="height: 378px;">
      <div class="left-text text-left vertical-align-content">
        <p>We are a London based agency, working together with our clients to bring creative and strategic campaigns suitable for
          you. Every client is refreshingly unique and so working closely with our clients, we can really bring your
          brand personality to life and really engage with those wanting to buy your product or service.</p>
      </div>
    </div>
    <div class="col-xs-6">
      <%= image_tag 'home1.jpg', class: 'border-img-2', style: "max-width: 800px; max-height: 378px;" %>
    </div>
  </div>
</div>

<div class="row grey">
  <div class="section">
    <div class="col-xs-12 text-center margin-bottom-50">
      <h2>Bespoke Marketing Services</h2>
    </div>
    <div class="col-xs-12 text-center">
      <%= link_to website_path, class: 'service-link' do %>
        <div class="col-md-3 text-center">
          <h3>Website Design & Development</h3>
          <%= image_tag 'icon-home-browser.png', class: "margin-top-bottom-20" %>
          <h4 class="service-heading">Design, Build & Optimise. Your Online Shop Window.</h4>
          <p class="text-center">Websites are not just meant to be scrolled through, but should be engaging and of course compelling enough
            for customers to want to buy or find out more about your products or services. Find out more on what we can
            do to help you to reach your website goals.</p>
        </div>
      <% end %>
      <%= link_to seo_path, class: 'service-link' do %>
        <div class="col-md-3 text-center">
          <h3 style="height: 52px;">SEO</h3>
          <%= image_tag 'icon-home-analysis.png', class: "margin-top-bottom-20" %>
          <h4 class="service-heading">Relevant & Valuable Content Matching Searh Terms.</h4>
          <p class="text-center">Search Engine Optimisation done correctly will ensure your business is ranked highly in primary searches on
            engines such as Google, Bing and Yahoo. The key is ensuring the most relevant key words are picked up by the
            search engine algorithms.</p>
        </div>
      <% end %>
      <%= link_to advertising_path, class: 'service-link' do %>
        <div class="col-md-3 text-center">
          <h3 style="height: 52px;">Advertising</h3>
          <%= image_tag 'icon-home-marketing.png', class: "margin-top-bottom-20" %>
          <h4 class="service-heading">Most Popular Form of Search Engine Marketing.</h4>
          <p class="text-center">Unlike SEO, Pay Per Click does exactly what it says - you (the advertiser) pays everytime someone clicks on
            your ad. This can be costly, especially if you're in a competitive market, BUT with the formula of keywords,
            camapigns and landing pages, search engines will reward you with lower costs per click.</p>
        </div>
      <% end %>
      <%= link_to social_path, class: 'service-link' do %>
        <div class="col-md-3 text-center">
          <h3 style="height: 52px;">Social Media</h3>
          <%= image_tag 'icon-home-social-media.png', class: "margin-top-bottom-20" %>
          <h4 class="service-heading">Bring your brand to life on Social Media.</h4>
          <p class="text-center">Let's face it, there's no more powerful ways than social media to drive engagement with your customers and
            even prospective customers. Your customers are more than likely interacting with other brands on social media,
            so why not yours to. Find the best channel for your business, and event boost sales and traffic to your site.</p>
        </div>
      <% end %>

    </div>
  </div>
</div>

<div class="row">
  <div class="section" style="width:100%;">
    <div class="col-xs-12 text-center margin-bottom-50">
      <h2>Ready to Kickstart Your Online Marketing Journey?</h2>
    </div>

    <div class="col-xs-6 text-right vertical-align-wrap" style="height: 386px;">
      <div class="left-text justify vertical-align-content">
        <p class="margin-bottom-20">Get in touch with us to find out more about the services we offer and how we can support your company.
          We've worked with a number of start-ups and small business and can't wait to get working on yours too.
          <div class="text-center"><%= submit_tag "Contact Us", class: "btn-style start" %></div>
        </p>
      </div>
    </div>
    <div class="col-xs-6">
      <%= image_tag 'home2.jpg', class: 'border-img-2', style: "max-width: 800px; max-height: 386px;" %>
    </div>

  </div>
</div>

<%= render partial: "contact_form" %>

<%= render partial: "subscribe" %>