<% content_for :title do %>Paid Search<% end %>
<% content_for :description do %>Paid Search Marketing for your Small Business. Take away the hassle of bidding on keywords with our tailored PPC Campaigns.<% end %>
<% content_for :keywords do %>Paid Search Marketing, Pay Per Click, PPC, PPC campign, Paid Search Campaign, Keyword, Search Terms, Adwords, Bing, Ad Account, Keyword Bidding, <% end %>
<%= javascript_include_tag 'more' %>

<!--<div class='bgimg paid-search-bgimg'>
  <div class="row">
    <div class="col-xs-12 col-sm-12 text-center">
      <span class="more-arrow">
        <h2 class="glyphicon glyphicon-chevron-down"></h2>
      </span>
    </div>
  </div>
</div>-->

<div class="service-bg paid-search-bg">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-center">
      <%= image_tag 'website-bg.png' %>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-center">
      <h2>Pay Per Click (PPC) Advertising</h2>
      <p>Increase your website traffic with paid search ads</p>
    </div>
  </div>
</div>

<div class="row more-content">
  <div class="section">
    <div class="col-xs-12 text-center margin-bottom-20">
      <h2>Helping Small & Medium Sized Businesses Grow with Search Ads</h2>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-bottom-50">
      <p>We'll work with businesses and create PPC campaigns that will suit small or large budgets, and offer paid advertising services across search and social platforms, and take a scientific approach to provide the best possible return on your investment.</p>
    </div>
  </div>
</div>

<div class="row grey more-content">
  <div class="section">
    <div class="col-xs-12 text-center margin-bottom-100">
      <h2>PPC Key Benefits</h2>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-bottom-50">
      <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 margin-bottom-100">
        <div class="service-block">
          <%= image_tag 'icon-ppc-1.png', class: "service-img" %>
          <h3>Only pay for clicked ads</h3>You are in control of your budget and cost per click associated to the campaigns set up.
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 margin-bottom-100">
        <div class="service-block">
          <%= image_tag 'icon-ppc-2.png', class: "service-img" %>
          <h3>Targeted Ads</h3>You can make your campaigns as targeted as possible, displayed to the right audience at the right time.
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 margin-bottom-100">
        <div class="service-block">
          <%= image_tag 'icon-ppc-3.png', class: "service-img" %>
          <h3>Immediate traffic</h3>Gain instant exposure and visibility after setting up your ads, on page 1 of Search Engine Results Pages (SERPs)
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 margin-bottom-100">
        <div class="service-block">
          <%= image_tag 'icon-ppc-4.png', class: "service-img" %>
          <h3>Get instant comments</h3>PPC makes it easy for you to manage your costs and optimise your campaigns, this will in turn maximise your ROI.
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row more-content">
  <div class="section">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center margin-bottom-50">
      <h2>Our Process</h2>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-bottom-50">
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
        <h1 class="step-number">01</h1>
        <h2 class="step-heading">Site Audit</h2>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-9 col-xs-6">
        <p>To start, we'll make sure to get a thorough understanding of your business and objectives; additionally we'll do industry analysis so we can ensure we do enough for you to generate new customers.</p>
      </div>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-bottom-50">
      <div class="col-lg-9 col-md-9 col-sm-9 col-xs-6">
        <p>Following on from the site audit, we need to establish a base set of keywords. These will be researched based on data available from Google and your existing analytics data. Once implemented, we'll optimise these keywords through continuous testing, measurement and refining by regularly adding new keywords and negative keywords with varying match types.</p>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
        <h1 class="step-number">02</h1>
        <h2 class="step-heading">Keyword Research</h2>
      </div>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-bottom-50">
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
        <h1 class="step-number">03</h1>
        <h2 class="step-heading">Set KPIs</h2>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-9 col-xs-6">
        <p>We'll set up KPIs with you and ensure realistic expectations are met. There are many different metrics to track the performance of Pay Per Click advertising including, Average Cost Per Click (CPC), Cost Per Acquisition (CPA), clicks, impressions and Click Through Rate (CTR). Each of these metrics are suited to a particular objective and we may use a combination of metrics to get accurate information on campaign progress.</p>
      </div>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-bottom-50">
      <div class="col-lg-9 col-md-9 col-sm-9 col-xs-6">
        <p>We apply attention to detail and closely monitor the launch which is a key part of the pay per click strategy. </p>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
        <h1 class="step-number">04</h1>
        <h2 class="step-heading">Launch</h2>
      </div>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-bottom-50">
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
        <h1 class="step-number">05</h1>
        <h2 class="step-heading">Analyse</h2>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-9 col-xs-6">
        <p>We perform daily reviews and generate weekly reports. As you know, we care about the details and data but in light of the big picture. One good or bad day doesn’t necessarily make or break a campaign.</p>
      </div>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-bottom-50">
      <div class="col-lg-9 col-md-9 col-sm-9 col-xs-6">
        <p>Based on our analysis of the data, we use this information combined with our expertise to make decisions and ensure you have an effective campaign that is consistently delivering results.</p>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
        <h1 class="step-number">06</h1>
        <h2 class="step-heading">Optimise</h2>
      </div>
    </div>

  </div>
</div>

<div class="row grey">
  <div class="section" style="width:88%;">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center margin-bottom-50">
      <h2>Choose our PPC Services</h2>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 margin-bottom-20">
        <div class="service-block"><h3>Google Ads</h3>We specialise in creating high performing campaigns across Search, Display and Shopping. We use a combination of technology and creativity to gain increased visibility and more sales at a profitable CPA.</div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 margin-bottom-20">
        <div class="service-block"><h3>Display Advertising</h3>Get successful strategic online placements by advertising your business to a targeted audience through Google's advertising network, the Google Display Network (GDN)</div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 margin-bottom-20">
        <div class="service-block"><h3>Remarketing</h3>A cool way to market to an audience who have already visited your website, by displaying adverts to people who visit sites on the Google Display Network (GDN).</div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 margin-bottom-20">
        <div class="service-block"><h3>Bing Ads</h3>For businesses seeking to explore extended opportunities of Microsoft’s ever-growing search engine - Bing is additionally the default search engine for Yahoo - so a double win.</div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 margin-bottom-20">
        <div class="service-block"><h3>PPC Conversion Tracking</h3>Find out how well your existing campaigns are performing and where the opportunities for growth and improvement are.</div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 margin-bottom-20">
        <div class="service-block"><h3>Social Media Ads</h3>For businesses that want to reach their target audience through highly targeted campaigns on social networks such as Facebook, Twitter, LinkedIn and Instagram.</div>
      </div>
    </div>

  </div>
</div>

<div class='paid-search-show'>
  <div class="row">
    <div class="col-xs-12 col-sm-12 text-center">
      <h1>Pepperminty is a PPC agency developing highly targeted traffic to your site with intelligent pay per click campaigns.</h1><br/><br/>
      <h1>If you're ready to kickstart your PPC journey then get in touch!</h1>
    </div>
  </div>
</div>

<%= render partial: "additional_services", locals: {service: @service} %>

<%= render partial: "contact_form" %>