<% content_for :title do %>Search Engine Optimisation<% end %>
<% content_for :description do %>Get to the top of seach engine rankings by developing on-site and off-site Search Engine Optimisation (SEO) for your small business at Affordable rates. <% end %>
<% content_for :keywords do %>Search Engine Optimisation, SEO, SERP, Search Engine Results Page, SEO for Start-ups, SEO for Small Businesses, SEO Marketing, SEO for website<% end %>
<%= javascript_include_tag 'more' %>

<div class='bgimg seo-bgimg'>
  <div class="row">
    <div class="col-xs-12 col-sm-12 text-center">
      <span class="more-arrow">
        <h2 class="glyphicon glyphicon-chevron-down"></h2>
      </span>
    </div>
  </div>
</div>

<div class="row more-content">
  <div class="section">
    <div class="col-xs-12 text-center margin-bottom-20">
      <h2>Search Engine Optimisation</h2>
    </div>
    <div class="col-xs-12 text-left">
      <p>Search Engine Optimisation (SEO) is the process of improving the visibility of your site in Google's search results,
        essentially putting your business at the forefront of your target audience – an integral part of your digital marketing strategy. </p>
      <p class="margin-bottom-20">There are two main rules of thumb when following an SEO strategy:</p>

      <p><strong>On-Page SEO:</strong> This should be considered early on in the planning of your website design and
        development as you'll need to build and think about keywords in your headings, friendly URLs, site speed and
        metatags for example (don't worry…we can go into more discussion about all of this).</p>
      <p class="margin-bottom-20"><strong>Off-page SEO:</strong> This focusses on factors outside of your website, and fundamentally draws on
        the relevance, trust and authority it has for your target audience/customers. Building backlinks from reputable
        sites is an area we'd focus on with you.</p>

      <p>With affordable prices specifically tailored to your needs, we will work with you on analysing your requirements
        and determining exactly what's required.</p>
    </div>
  </div>
</div>

<div class="row grey">
  <div class="section">
    <div class="col-xs-12 text-center margin-bottom-50">
      <h2>Our services include:</h2>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 text-right">
      <%= image_tag 'seo2.png', class: 'img-border' %>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 text-left margin-bottom-50">
      <div class="wrapper right-text">
        <div class="bullet-point-medium">Detailed research of your business</div>
        <div class="bullet-point-medium">Analysis of Competitors</div>
        <div class="bullet-point-medium">Keyword research backed with search trend analysis</div>
        <div class="bullet-point-medium">Full site audits</div>
        <div class="bullet-point-medium">Set up of Google Search Console</div>
        <div class="bullet-point-medium">Set up of Bing Webmaster</div>
        <div class="bullet-point-medium">Optimised Landing Pages</div>
        <div class="bullet-point-medium">Back links</div>
        <div class="bullet-point-medium">Citation listings</div>
        <div class="bullet-point-medium">Local SEO</div>
      </div>
    </div>

    <div class="col-xs-12 margin-bottom-50 text-center">
      <button data-toggle="collapse" class="btn-style seo" data-target="#seo-packages">
        View Packages <span class="glyphicon glyphicon-chevron-right"></span>
      </button>
    </div>
    <div id="seo-packages" class="collapse">
      <div class="packages">
        <div class="col-md-6 text-left">
          <div class="row col-md-12 hidden-xs hidden-sm" style="height: 150px;border-bottom: 1px solid lightgray"><h3><b>Feature</b></h3></div>
          <div class="row col-md-12 hidden-xs hidden-sm">Initial Website Audit</div>
          <div class="row col-md-12 hidden-xs hidden-sm">Mobile Friendly Analysis</div>
          <div class="row col-md-12 hidden-xs hidden-sm">Onsite SEO Optimisation</div>
          <div class="row col-md-12 hidden-xs hidden-sm">Keyword Research and Tracking (Focus on 10 Keywords)</div>
          <div class="row col-md-12 hidden-xs hidden-sm">Google+ Local Optimisation</div>
          <div class="row col-md-12 hidden-xs hidden-sm">Keyword URL Mapping</div>
          <div class="row col-md-12 hidden-xs hidden-sm">Set up Google Search Console</div>
          <div class="row col-md-12 hidden-xs hidden-sm">Landing Page Optimisation</div>
          <div class="row col-md-12 hidden-xs hidden-sm">Monthly Performance Report</div>
          <div class="row col-md-12 hidden-xs hidden-sm">On Going Link Building</div>
          <div class="row col-md-12 hidden-xs hidden-sm">Schema Markup Analysis</div>
          <div class="row col-md-12 hidden-xs hidden-sm">Customer Reviews Optimisation</div>
          <div class="row col-md-12 hidden-xs hidden-sm">Competitor Analysis</div>
          <div class="row col-md-12 hidden-xs hidden-sm">Best Practice Technical SEO Implementation</div>
          <div class="row col-md-12 hidden-xs hidden-sm">Site Speed Optimisation</div>
          <div class="row col-md-12 hidden-xs hidden-sm">Off-Site SEO</div>
          <div class="row col-md-12 hidden-xs hidden-sm">Content (Blog Advice)</div>
          <div class="row col-md-12 hidden-xs hidden-sm">Setup Bing Webmaster</div>
        </div>
        <div class="col-md-2 package-container">
          <div class="row col-md-12 hidden-xs hidden-sm"><h3>Starter</h3></div>
          <div class="row col-md-12 hidden-xs hidden-sm"><button class="btn-style-1">Enquire</button></div>
          <div class="row col-md-12 hidden-xs hidden-sm"><span><h4>£350 + VAT</h4></span></div>
          <div class="row col-md-12 hidden-xs hidden-sm"><span class="glyphicon glyphicon-ok"></span></div>
          <div class="row col-md-12 hidden-xs hidden-sm"><span class="glyphicon glyphicon-ok"></span></div>
          <div class="row col-md-12 hidden-xs hidden-sm"><span class="glyphicon glyphicon-ok"></span></div>
          <div class="row col-md-12 hidden-xs hidden-sm"><span class="glyphicon glyphicon-ok"></span></div>
          <div class="row col-md-12 hidden-xs hidden-sm"><span class="glyphicon glyphicon-ok"></span></div>
          <div class="row col-md-12 hidden-xs hidden-sm"><span class="glyphicon glyphicon-ok"></span></div>
          <div class="row col-md-12 hidden-xs hidden-sm"><span class="glyphicon glyphicon-ok"></span></div>
          <div class="row col-md-12 hidden-xs hidden-sm"><span>1 page</span></div>
          <div class="row col-md-12 hidden-xs hidden-sm"><span class="glyphicon glyphicon-ok"></span></div>
          <div class="row col-md-12 hidden-xs hidden-sm"><span>-</span></div>
          <div class="row col-md-12 hidden-xs hidden-sm"><span>-</span></div>
          <div class="row col-md-12 hidden-xs hidden-sm"><span>-</span></div>
          <div class="row col-md-12 hidden-xs hidden-sm"><span>-</span></div>
          <div class="row col-md-12 hidden-xs hidden-sm"><span>-</span></div>
          <div class="row col-md-12 hidden-xs hidden-sm"><span>-</span></div>
          <div class="row col-md-12 hidden-xs hidden-sm"><span>-</span></div>
          <div class="row col-md-12 hidden-xs hidden-sm"><span>-</span></div>
          <div class="row col-md-12 hidden-xs hidden-sm"><span>-</span></div>
        </div>
        <div class="col-md-2 package-container">
          <div class="row col-md-12 hidden-xs hidden-sm"><h3>Premium</h3></div>
          <div class="row col-md-12 hidden-xs hidden-sm"><button class="btn-style-1">Enquire</button></div>
          <div class="row col-md-12 hidden-xs hidden-sm"><span><h4>£750 + VAT</h4></span></div>
          <div class="row col-md-12 hidden-xs hidden-sm"><span class="glyphicon glyphicon-ok"></span></div>
          <div class="row col-md-12 hidden-xs hidden-sm"><span class="glyphicon glyphicon-ok"></span></div>
          <div class="row col-md-12 hidden-xs hidden-sm"><span class="glyphicon glyphicon-ok"></span></div>
          <div class="row col-md-12 hidden-xs hidden-sm"><span class="glyphicon glyphicon-ok"></span></div>
          <div class="row col-md-12 hidden-xs hidden-sm"><span class="glyphicon glyphicon-ok"></span></div>
          <div class="row col-md-12 hidden-xs hidden-sm"><span class="glyphicon glyphicon-ok"></span></div>
          <div class="row col-md-12 hidden-xs hidden-sm"><span class="glyphicon glyphicon-ok"></span></div>
          <div class="row col-md-12 hidden-xs hidden-sm"><span>3 pages</span></div>
          <div class="row col-md-12 hidden-xs hidden-sm"><span class="glyphicon glyphicon-ok"></span></div>
          <div class="row col-md-12 hidden-xs hidden-sm"><span class="glyphicon glyphicon-ok"></span></div>
          <div class="row col-md-12 hidden-xs hidden-sm"><span class="glyphicon glyphicon-ok"></span></div>
          <div class="row col-md-12 hidden-xs hidden-sm"><span class="glyphicon glyphicon-ok"></span></div>
          <div class="row col-md-12 hidden-xs hidden-sm"><span>-</span></div>
          <div class="row col-md-12 hidden-xs hidden-sm"><span>-</span></div>
          <div class="row col-md-12 hidden-xs hidden-sm"><span>-</span></div>
          <div class="row col-md-12 hidden-xs hidden-sm"><span>-</span></div>
          <div class="row col-md-12 hidden-xs hidden-sm"><span>-</span></div>
          <div class="row col-md-12 hidden-xs hidden-sm"><span>-</span></div>
        </div>
        <div class="col-md-2 package-container">
          <div class="row col-md-12 hidden-xs hidden-sm"><h3>Enterprise</h3></div>
          <div class="row col-md-12 hidden-xs hidden-sm"><button class="btn-style-1">Enquire</button></div>
          <div class="row col-md-12 hidden-xs hidden-sm"><span><h4>£1450 + VAT</h4></span></div>
          <div class="row col-md-12 hidden-xs hidden-sm"><span class="glyphicon glyphicon-ok"></span></div>
          <div class="row col-md-12 hidden-xs hidden-sm"><span class="glyphicon glyphicon-ok"></span></div>
          <div class="row col-md-12 hidden-xs hidden-sm"><span class="glyphicon glyphicon-ok"></span></div>
          <div class="row col-md-12 hidden-xs hidden-sm"><span class="glyphicon glyphicon-ok"></span></div>
          <div class="row col-md-12 hidden-xs hidden-sm"><span class="glyphicon glyphicon-ok"></span></div>
          <div class="row col-md-12 hidden-xs hidden-sm"><span class="glyphicon glyphicon-ok"></span></div>
          <div class="row col-md-12 hidden-xs hidden-sm"><span class="glyphicon glyphicon-ok"></span></div>
          <div class="row col-md-12 hidden-xs hidden-sm"><span>3 pages</span></div>
          <div class="row col-md-12 hidden-xs hidden-sm"><span class="glyphicon glyphicon-ok"></span></div>
          <div class="row col-md-12 hidden-xs hidden-sm"><span class="glyphicon glyphicon-ok"></span></div>
          <div class="row col-md-12 hidden-xs hidden-sm"><span class="glyphicon glyphicon-ok"></span></div>
          <div class="row col-md-12 hidden-xs hidden-sm"><span class="glyphicon glyphicon-ok"></span></div>
          <div class="row col-md-12 hidden-xs hidden-sm"><span class="glyphicon glyphicon-ok"></span></div>
          <div class="row col-md-12 hidden-xs hidden-sm"><span class="glyphicon glyphicon-ok"></span></div>
          <div class="row col-md-12 hidden-xs hidden-sm"><span class="glyphicon glyphicon-ok"></span></div>
          <div class="row col-md-12 hidden-xs hidden-sm"><span class="glyphicon glyphicon-ok"></span></div>
          <div class="row col-md-12 hidden-xs hidden-sm"><span class="glyphicon glyphicon-ok"></span></div>
          <div class="row col-md-12 hidden-xs hidden-sm"><span class="glyphicon glyphicon-ok"></span></div>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="row">
  <div class="section">
    <div class="col-xs-12 text-center margin-bottom-50">
      <h2>Your SEO Journey</h2>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 text-right">
      <div class="left-text">
        <p>SEO is a complex arena, and we want to land you results so you rank highly on Google.
          Therefore, we may be very meticulous in the questions we ask about your business to begin with, but that's just
          so we have all the necessary information to start. Here's what your SEO journey with us may look like:</p>
        <p>To discover your SEO potential, contact us today to discuss.</p>
      </div>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
      <%= image_tag 'seo1.png', class: 'img-border' %>
    </div>

    <div class="col-xs-12 text-center">
      <%= submit_tag "Get a quote", class: "btn-style start" %>
    </div>

  </div>
</div>

<%= render partial: "contact_form" %>

<%= render partial: "additional_services", locals: {service: @service} %>