<% content_for :title do %>Search Engine Optimisation<% end %>
<% content_for :description do %>Attract and engage your audience on Social Media to gain new business and retain customers. We'll ensure your brand is truly represented across all social media channels.<% end %>
<% content_for :keywords do %>Social Media Marketing, Facebook Ads, Instagram Ads, LinkedIn Ads, Twitter Ads, Paid Social Campaigns, <% end %>
<%= javascript_include_tag 'more' %>

<div class='bgimg social-bgimg'>
  <div class="row">
    <div class="col-xs-12 col-sm-12 text-center">
      <span class="more-arrow">
        <h2 class="glyphicon glyphicon-chevron-down"></h2>
      </span>
    </div>
  </div>
</div>

<div class="row more-content">
  <div class="section">
    <div class="col-xs-12 text-center margin-bottom-20">
      <h2>Social Media</h2>
    </div>
    <div class="col-xs-12 text-left">
      <p>Social media has dramatically changed the way that brands engage with their customers and vice versa. Social media plays an integral role to a businesses' digital marketing strategy, whether you're looking to build brand awareness, send quality website traffic, generate new leads or drive sales. The key is finding the right audience to target in an arena of billions – you're getting into their personal space, so make sure you attract and interact with the right people.</p>
      <p>You can have real fun engaging with your customer's on social media, it's your chance to show who you really are and bring forward your flare and personality in a professional way. We'll work with you to develop your brand tone of voice, create and deliver content calendars on trending posts or new product messaging. </p>
      <p>Checking out what your competitors are up to is also really important for you to gauge what does and doesn't work well with customers and give you an understanding of how to make a difference in the competitive landscape on social media. </p>
      <p>We are goals oriented, so we'll work with you whether you want to achieve social engagement, brand awareness or a targeted number of sales per month. Regardless of which social media channel you use, we'll make sure consistency is key with all messaging, so your brand can be recognised anywhere and on any device. </p>

      <p class="margin-bottom-50">Find out more about our social media marketing services and contact us today. </p>
      <div class="text-center"><%= submit_tag 'Get in touch', class: "btn-style start" %></div>

    </div>
  </div>
</div>


<div class="row">
  <div class="section grey" style="width:100%;">
    <div class="col-xs-12 text-center margin-bottom-50">
      <h2>Our services include: </h2>
    </div>
    <div class="col-xs-6 text-right">
      <%= image_tag 'social1.png', class: 'img-border', style: "max-height: 266px;" %>
    </div>
    <div class="col-xs-6 text-left vertical-align-wrap" style="height:266px;">
      <div class="wrapper right-text vertical-align-content">
        <div class="bullet-point">Social media audit</div>
        <div class="bullet-point">Competitor analysis</div>
        <div class="bullet-point">Brand tone of voice</div>
        <div class="bullet-point">Content schedule</div>
        <div class="bullet-point">Paid Social Campaign</div>
      </div>
    </div>
  </div>
</div>

<%= render partial: "contact_form" %>

<div class="row green">
  <div class="section" style="width:100%;">
    <div class="col-md-12 text-center margin-bottom-50">
      <h2>Additional Services</h2>
    </div>

    <%= render partial: "additional_services", locals: {service: @service} %>
  </div>
</div>
