<% content_for :title do %>Social Media Management<% end %>
<% content_for :description do %>Attract and engage your audience on Social Media to gain new business and retain customers. We'll ensure your brand is truly represented across all social media channels.<% end %>
<% content_for :keywords do %>Social Media Marketing, Facebook Ads, Instagram Ads, LinkedIn Ads, Twitter Ads, Paid Social Campaigns, <% end %>
<%= javascript_include_tag 'more' %>

<!--<div class='bgimg social-bgimg'>
  <div class="row">
    <div class="col-xs-12 col-sm-12 text-center">
      <span class="more-arrow">
        <h2 class="glyphicon glyphicon-chevron-down"></h2>
      </span>
    </div>
  </div>
</div>-->

<div class="service-bg social-bg">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-center">
      <%= image_tag 'social-bg.png' %>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-center">
      <h2>Social Media Management</h2>
      <p>Reach new audiences, engage with new clients and discover the revenue possibilities for your business.</p>
    </div>
  </div>
</div>

<div class="row more-content">
  <div class="section">
    <div class="col-xs-12 text-center margin-bottom-20">
      <h2>Discover new clients, drive sales & brand awareness through effective engagement with your target market</h2>
    </div>
    <div class="col-xs-12 text-left">
      <p>Social media has dramatically changed the way that brands engage with their customers and vice versa. Social media marketing plays an integral role to a businesses' online strategy, whether you're looking to build brand awareness, send quality website traffic, generate new leads or drive sales. The key is finding the right audience to target in an arena of billions – you're getting into their personal space, so make sure you attract and interact with the right people.</p>
    </div>
  </div>
</div>

<div class="row grey more-content">
  <div class="section">
    <div class="col-xs-12 text-center margin-bottom-100">
      <h2>Social Media Marketing Key Benefits</h2>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-bottom-50">
      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 margin-bottom-100">
        <div class="service-block">
          <%= image_tag 'icon-social-1.png', class: "service-img" %>
          <h3>Generate new leads and sales</h3>Find new customers, interact with them and learn more about them.
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 margin-bottom-100">
        <div class="service-block">
          <%= image_tag 'icon-social-2.png', class: "service-img" %>
          <h3>Increase brand awareness</h3>Keep your audience up to date  with your latest news whilst keeping an eye on your competition.
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 margin-bottom-100">
        <div class="service-block">
          <%= image_tag 'icon-social-3.png', class: "service-img" %>
          <h3>Retain your audience</h3>Build brand loyalty within your social community
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 margin-bottom-100">
        <div class="service-block">
          <%= image_tag 'icon-social-4.png', class: "service-img" %>
          <h3>Get instant comments</h3>Gain reviews and brand ambassadors across your existing network
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row more-content">
  <div class="section">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center margin-bottom-50">
      <h2>Our Process</h2>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-bottom-50">
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
        <h1 class="step-number">01</h1>
        <h2 class="step-heading">Exploring your brand</h2>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-9 col-xs-6">
        <p>We'll get to know your business priorities and goals for Social Media Marketing, whether generating new leads, increasing sales, driving web traffic, or building brand awareness. In addition to finding out more about your brand, we will also take a look at your competitors before establishing your social strategy.  </p>
      </div>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-bottom-50">
      <div class="col-lg-9 col-md-9 col-sm-9 col-xs-6">
        <p>Identifying the right platform for your business and potential network followers is our next step. Whether you'd like to provide thought leadership on LinkedIn to your B2B clients, or run an ad campaign on Facebook, or even create the perfect tone of voice for your business on Twitter. </p>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
        <h1 class="step-number">02</h1>
        <h2 class="step-heading">Strategy</h2>
      </div>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-bottom-50">
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
        <h1 class="step-number">03</h1>
        <h2 class="step-heading">Campaign building</h2>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-9 col-xs-6">
        <p>Building an engaging campaign that's effective in increasing your online presence and influencing your target audience at an individual level. Our team will build an organic or paid campaign strategy based on brand and target audience analysis. </p>
      </div>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-bottom-50">
      <div class="col-lg-9 col-md-9 col-sm-9 col-xs-6">
        <p>Our focus will be to convert interest into leads and sales, so that you will maximise your ROI based on your Social Media goals. Based on analytical software, we're continuously look at ways of improving your campaigns and ensure they're hitting your audience with maximum reach potential.</p>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
        <h1 class="step-number">04</h1>
        <h2 class="step-heading">Growth Hacking</h2>
      </div>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-bottom-50">
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
        <h1 class="step-number">05</h1>
        <h2 class="step-heading">Reporting</h2>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-9 col-xs-6">
        <p>We provide accurate reporting so you can see exactly how well your campaigns are performing. We'll provide commentary on any potential growth areas, and keep in touch to find out any new developments on your side that can be incorporated into any campaign. </p>
      </div>
    </div>

  </div>
</div>

<div class='social-show'>
  <div class="row">
    <div class="col-xs-12 col-sm-12 text-center">
      <h1>Pepperminty is a Social Media Management agency who doesn't believe that there's  a 'one-size fits all' approach to Social Media Marketing - we offer a truly bespoke service.</h1>
    </div>
  </div>
</div>

<%= render partial: "additional_services", locals: {service: @service} %>

<%= render partial: "contact_form" %>