<% content_for :title do %>Website Design & Development<% end %>
<% content_for :description do %>Get content and design rich websites for your business from just £149. We specialise developing bespoke websites for start ups and SMEs, using WordPress. Contact us today for a quote.<% end %>
<% content_for :keywords do %>Pepperminty Marketing Website Design, Web Design, Website Development, Web Development, WordPress, Cheap Website, Create a website, eCommerce website, UX design, Bespoke website design<% end %>

<div class="bgimg website-bgimg"></div>

<div class="row grey">
  <div class="section">
    <div class="col-xs-12 text-center margin-bottom-20">
      <h2>Website Design & Development</h2>
    </div>
    <div class="col-xs-12">
      <p>We specialise in the design and development of websites for start-ups and small businesses.</p>
      <p class="margin-bottom-20">Getting your website right is critical for your business – it not only lets customers know who you are as a brand,
        it also can get you repeat visitors and most importantly for you make you some sales! Whether it's brochure design,
        or e-commerce, let us help you set up and manage a beautifully branded website using the latest technology (HTML5, CSS3).</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="section">
    <div class="col-xs-12">
      <div class="text-center">
        <h3 class="margin-bottom-20"><strong>We offer affordability, and you can get your website from as little as £149<sup>*</sup></strong></h3>
        <p class="text-center margin-bottom-20">( <sup>*</sup><i>subject to your requirements</i> )</p>
        <div><%= submit_tag "Get a quote", class: "btn-style" %></div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="section grey" style="width:100%;">
    <div class="col-xs-12 text-center margin-bottom-50">
      <h2>Our website services include: </h2>
    </div>
    <div class="col-xs-6 text-right">
      <%= image_tag 'website1.png', class: 'border-img-2', style: "max-width: 800px; max-height: 387px;" %>
    </div>
    <div class="col-xs-6 text-left" style="height:100%">
      <div class="wrapper right-text">
        <div class="bullet-point-small">WordPress platform</div>
        <div class="bullet-point-small">Custom domain</div>
        <div class="bullet-point-small">Bespoke design</div>
        <div class="bullet-point-small">Mobile responsive</div>
        <div class="bullet-point-small">Secure web (SSL Certification)</div>
        <div class="bullet-point-small">Back end development</div>
        <div class="bullet-point-small">Training & support</div>
        <div class="bullet-point-small">Integration with social media channels</div>
        <div class="bullet-point-small">Integration with external sites such as eBay Shop etc</div>
        <div class="bullet-point-small">Google Sitemap</div>
        <div class="bullet-point-small">Banner Design</div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="section" style="width:100%;">
    <div class="col-xs-12 text-center margin-bottom-50">
      <h2>Project timescales </h2>
    </div>
    <div class="margin-bottom-20">
    <div class="col-xs-6 text-right vertical-align-wrap" style="height: 380px;">
      <div class="left-text text-left vertical-align-content">
        <p class="margin-bottom-20">We'll keep you in the loop every step of the way with your website, and with an
          <span class="secondary-color">8-week</span> turnaround, here are the steps to get your business set up online:</p>
        <p class="margin-bottom-20">Post-launch, we are more than willing to stay on board and help with the management and updates your website may need.
          For some of our clients, we are in effect their marketing team so work strategically together to build on their
          digital presence. Alternatively, we'll work with you periodically for any system or functionality updates needed.</p>
      </div>
    </div>
    <div class="col-xs-6">
      <%= image_tag 'website2.png', class: 'border-img-2' %>
    </div>
    </div>

    <div class="col-xs-12 text-center">
      <%= submit_tag "Get a quote", class: "btn-style" %>
    </div>

  </div>
</div>

<%= render partial: "contact_form" %>

<div class="row green">
  <div class="section" style="width:100%;">
    <div class="col-md-12 text-center margin-bottom-50">
      <h2 class="margin-bottom-20">Additional Services</h2>
      <h4>Checkout our supporting services that will ensure you're ranked high on search engines such as Google</h4>
    </div>

    <%= render partial: "additional_services", locals: {service: @service} %>
  </div>
</div>