<% content_for :title do %>Website Design & Development<% end %>
<% content_for :description do %>Get content and design rich websites for your business from just £149. We specialise developing bespoke websites for start ups and SMEs, using WordPress. Contact us today for a quote.<% end %>
<% content_for :keywords do %>Pepperminty Limited Website Design, Web Design, Website Development, Web Development, WordPress, Cheap Website, Create a website, eCommerce website, UX design, Bespoke website design<% end %>
<%= javascript_include_tag 'more' %>

<!--<div class="bgimg website-bgimg">
  <div class="row">
    <div class="col-xs-12 col-sm-12 text-center">
      <span class="more-arrow">
        <h2 class="glyphicon glyphicon-chevron-down"></h2>
      </span>
    </div>
  </div>
</div>-->

<div class="service-bg website-bg">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-center">
      <%= image_tag 'website-bg.png', {style:"width:60%;"} %>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-center">
      <h2 style="color:#ffffff;width: 66%; font-size: 3vw">Professional, engaging & beautiful websites</h2>
      <p style="color:#ffffff;width: 70%; text-align: center;font-size: 1.5vw">Creative & mobile optimised</p>
    </div>
  </div>
</div>

<div class="row more-content">
  <div class="section">
    <div class="col-xs-12 text-center margin-bottom-20">
      <h2>Web Designs for people to engage with your brand</h2>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-bottom-50">
      <p>The aim of all of our designs is to create a compelling brand that  drives engagement, increase conversions, and gains new customers that will ultimately lead to profits for your business.</p>
      <p>Whether you want an information based, or e-commerce site, let us help you set up and manage a beautifully branded fully responsive website.</p>
      <p>We've worked with a lot of CMS systems including WordPress, WebFlow, SquareSpace and Shopify for example; we'll find out about your business to see which platform is best for you.</p>
    </div>
  </div>
</div>

<div class="row grey more-content">
  <div class="section">
    <div class="col-xs-12 text-center margin-bottom-100">
      <h2>Website Design & Development Key Benefits</h2>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-bottom-50">
      <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 margin-bottom-100">
        <div class="service-block">
          <%= image_tag 'icon-website-1.png', class: "service-img" %>
          <h3>Increased lead generation</h3>We not only design with style in mind, but  also focus on what will drive traffic to your website leading to sales.
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 margin-bottom-100">
        <div class="service-block">
          <%= image_tag 'icon-website-2.png', class: "service-img" %>
          <h3>Engaging user experience</h3>Get a UX focused website in order to maximise conversions and boost customer engagement.
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 margin-bottom-100">
        <div class="service-block">
          <%= image_tag 'icon-website-3.png', class: "service-img" %>
          <h3>Responsive mobile design</h3>With more than 50% of the UK owning a smart phone and mobile sales rapidly increasing, we provide mobile ready designs for your business.
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 margin-bottom-100">
        <div class="service-block">
          <%= image_tag 'icon-website-4.png', class: "service-img" %>
          <h3>User retention</h3>Our interactive designs are developed to offer visual appeal, ROI, user friendliness and superb functionality that will keep users coming back for more.
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row more-content">
  <div class="section">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center margin-bottom-50">
      <h2>Our Process</h2>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-bottom-50">
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
        <h1 class="step-number">01</h1>
        <h2 class="step-heading">Consultation</h2>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-9 col-xs-6">
        <p>If you want to redesign an existing website, or create a brand new site, we will help bring your vision to life. Your initial consultation with us will be an opportunity for you to tell us your website goals, as well telling us all about your brand so it's visually appealing and recognisable to your users.</p>
        <p>We'll discuss competitor & industry research, as well as what website platforms could work well for your business and overall objectives.</p>
      </div>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-bottom-50">
      <div class="col-lg-9 col-md-9 col-sm-9 col-xs-6">
        <p>Following on from our detailed consultation, we'll get our creative juices flowing and begin the exciting design process. We'll start off with the homepage and work our way through the rest of the site ensuring brand consistency with imagery, typeface, and graphics.</p>
        <p>All designs our thought-out with mobile in mind as standard, and whether you're on a desktop or smartphone, we'll make sure your design translates onto all devices seamlessly.</p>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
        <h1 class="step-number">02</h1>
        <h2 class="step-heading">Design</h2>
      </div>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-bottom-50">
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
        <h1 class="step-number">03</h1>
        <h2 class="step-heading">Development</h2>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-9 col-xs-6">
        <p>Every good design, needs even better coding and development to ensure your design and content is robust (...enter Pepperminty Tech Geek). We want to make sure your website is not only visually stunning, but is also optimised for search engine robot crawlers (a little SEO jargon for you).</p>
      </div>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-bottom-50">
      <div class="col-lg-9 col-md-9 col-sm-9 col-xs-6">
        <p>Take a look at your website in all it's glory before it's launched and review the full design, features and functionality. We'll be in regular contact with you providing updates throughout the process, but this will be your final check ahead of signing off on your site.</p>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
        <h1 class="step-number">04</h1>
        <h2 class="step-heading">Review</h2>
      </div>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-bottom-50">
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
        <h1 class="step-number">05</h1>
        <h2 class="step-heading">Launch</h2>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-9 col-xs-6">
        <p>It's time for your website to go live! We'll make sure your domain settings have been adjusted and all other technical processes are handled, so you can focus on promoting your new digital asset.
          Don't worry, we won't love and leave you at this point, we can and will be on call for management of your site, or can provide training on how to manage and use your site too.</p>
      </div>
    </div>

  </div>
</div>

<div class='website-show'>
  <div class="row">
    <div class="col-xs-12 col-sm-12 text-center">
      <h1>Pepperminty is a web design agency specialising in bespoke and mobile responsive designs.</h1><br/>
      <h1>We'd love to hear from you if you're ready to kickstart your website design journey!</h1>
    </div>
  </div>
</div>

<%= render partial: "additional_services", locals: {service: @service} %>

<%= render partial: "contact_form" %>