<h1>Contact Form details</h1>

<table style="margin-left:25px;">
  <tr><td>Name: <strong><%= @name %></strong></td></tr>
  <tr><td>Company Name: <strong><%= @company_name %></strong></td></tr>
  <tr><td>Email Id: <strong><%= @email_id %></strong></td></tr>
  <tr><td>Phone: <strong><%= @phone %></strong></td></tr>
  <tr><td>Category: <strong><%= @category %></strong></td></tr>
  <tr><td>Message: <strong><%= @message %></strong></td></tr>
  <div class="g-recaptcha" data-sitekey="Your site key goes here"></div>
</table><br/>

<p>
  Kind Regards<br/>
  Pepperminty Marketing Team
</p>