<h1>Contact Form details</h1>

<p>
  Name: <%= @name %><br/>
  Company Name: <%= @company_name%><br/>
  Email Id: <%= @email_id %><br/>
  Phone: <%= @phone %><br/>
  Category: <%= @category %><br/>
  Message: <%= @message %><br/>
</p>
