<!--<script src="https://cdn.ckeditor.com/4.11.2/full/ckeditor.js"></script>-->
<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :title %>
    <%= form.text_field :title, id: :post_title, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :content %>
    <%= form.cktext_area :content, id: :post_content, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :main_image %>
    <%= form.file_field :main_image, id: :post_main_image, class: "form-control file-btn", style: "height:38px;" %>
  </div>

  <div class="field form-group">
    <%= form.label :alt_text %>
    <%= form.text_field :alt_text, id: :post_alt_text, class: "form-control" %>
  </div>

    <div class="field form-group">
      <%= form.label :meta_description %>
      <%= form.text_field :meta_description, id: :post_meta_description, class: "form-control" %>
    </div>

    <div class="field form-group">
      <%= form.label :meta_keywords %>
      <%= form.text_field :meta_keywords, id: :post_meta_keywords, class: "form-control" %>
    </div>

  <div class="field form-group">
    <%= form.label :category %>
    <%= form.select :category_id, Category.all.collect {|c| [c.name, c.id]}, {}, class: "form-control width-100-percent" %>
  </div>

  <div class="field form-group">
    <%= form.label :status %>
    <%= form.select :status, options_for_select(Post.statuses.keys, selected: @post.status),{}, class: "form-control width-100-percent" %>
  </div>

  <div class="actions form-group">
    <p class="text-left"><%= form.submit class: "btn-style-alt small" %></p>
  </div>
<% end %>
