<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :title %>
    <%= form.text_field :title, id: :post_title, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :content %>
    <%= form.text_area :content, id: :post_content, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :thumb_image %>
    <%= form.text_area :thumb_image, id: :post_thumb_image, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :main_image %>
    <%= form.text_area :main_image, id: :post_main_image, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :category %>
    <%= form.text_field :category, id: :post_category, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :author %>
    <%= form.text_field :author, id: :post_author, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :status %>
    <%= form.number_field :status, id: :post_status, class: "form-control" %>
  </div>

  <div class="actions form-group">
    <%= form.submit class: "btn-style" %>
  </div>
<% end %>
