<% content_for :title do %>Blog<% end %>
<% content_for :description do %>Pepperminty Limited is the Digital Marketing and Software Development & Design agency for Start-ups and Small Businesses. We range in services that include website design, Search Engine Optimisation, Paid Search Social Media and more. Contact us today to discuss your business' marketing requirements.<% end %>
<% content_for :keywords do %>Pepperminty Limited, Digital Marketing, London Marketing Agency, Marketing for Start-ups, Marketing for Small Businesses, Marketing for SMEs, Search Engine Optimistation, SEO, Website Design, Website Development, PPC, Paid Search Marketing, Pay Per Click, AdWords, Bing, Social Media Marketing, internet marketing<% end %>

<div class="row more-content">
  <div class="section">
    <div class="col-xs-12 text-center margin-bottom-20">
      <p id="notice"><%= notice %></p>
      <h2>Blog</h2>
      <p><%= link_to 'Create Post', new_post_path, class: "btn-style-alt" %></p>
    </div>

    <div class="col-xs-12">
      <div class="clearfix">

        <div class="float-left col-lg-6 col-md-6 col-sm-12 col-xs-12 margin-bottom-20" style="margin-left:-15px;">
          <%= form_with url: blog_search_index_path, method: :post, local: true, class: 'form-inline' do |form| %>
            <div class="input-group input-group-md" style="width:100%;">
              <%= form.text_field :tag, value: params[:tag], class: 'form-control', placeholder: 'Search' %>
              <div class="input-group-btn">
                <%= form.button raw("<i class=\"glyphicon glyphicon-search\"></i>"), type: 'submit', class: "btn btn-default" %>
              </div>
            </div>
          <% end %>
        </div>

        <div class="float-right col-lg-6 col-md-6 col-sm-12 col-xs-12 margin-bottom-20" style="margin-right:-15px;">
          <%= form_with url: blog_search_index_path, method: :post, local: true, class: 'form-inline width-100-percent' do |form| %>
            <%= form.select :status, options_for_select(Post.statuses.keys),{}, class: "form-control float-right", style: "width:100%;" %>
          <% end %>
        </div>

      </div>
    </div>

    <% @posts.each do |post| %>
      <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 text-left">
        <div class="blog-card">
          <%= image_tag post.main_image, alt: post.alt_text, style: "width: 100%; border-radius: 5px 5px 0px 0px;" %>
          <div class="blog-container">
            <h5><%= post.category.upcase %></h5>
            <p class="margin-bottom-20" style="font-size: 1.5em;"><%= post.title %></p>
            <p class="footer-text margin-bottom-20">
              <%= distance_of_time_in_words(Time.at(post.created_at.to_i),Time.now).upcase %> AGO
            </p>
            <p class="text-center"><%= link_to 'Read More', post, class: "btn-style-alt" %></p>
            <p class="text-right">
              <%= link_to 'Edit', edit_post_path(post), class: "control-link padding-right-10"  %>
              <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, class: "control-link" %>
            </p>
          </div>
        </div>
      </div>
    <% end %>

  </div>

</div>
