<% content_for :title do %><%= @post.title %><% end %>
<% content_for :description do %><%= @post.meta_description %><% end %>
<% content_for :keywords do %><%= @post.meta_keywords %><% end %>

<div class="row more-content">
  <div class="section">
    <div class="col-xs-2"></div>

    <div class="col-xs-8">
      <p class="margin-bottom-20" style="font-size: 3em;"><%= @post.title %></p><hr class="hr-green">

      <p class="margin-bottom-20" style="font-size: 1em;">Posted <%= distance_of_time_in_words(Time.at(@post.created_at.to_i),Time.now) %> ago in <%= @post.category %></p>

      <p><%= image_tag @post.main_image, alt: @post.alt_text %></p>

      <p><%= (render_with_hashtags @post.content).html_safe %></p>

      <hr/>

      <p class="text-left">
        <%= link_to 'Edit', edit_post_path(@post), class: "control-link padding-right-10" %>
        <%= link_to 'Back', posts_path, class: "control-link" %>
      </p>
    </div>

    <div class="col-xs-2"></div>
    <div class="clear"></div>
  </div>
</div>