<% content_for :title do %><%= @post.title %><% end %>
<% content_for :description do %><%= @post.meta_description %><% end %>
<% content_for :keywords do %><%= @post.meta_keywords %><% end %>

<div class="row more-content">
  <div class="section">
    <div class="col-lg-2 col-md-2 col-sm-0 col-xs-0"></div>

    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
      <p class="margin-bottom-20 text-left" style="font-size: 3em;"><%= @post.title %></p><hr class="hr-green">

      <p class="margin-bottom-20" style="font-size: 1em;">Posted <%= distance_of_time_in_words(Time.at(@post.created_at.to_i),Time.now) %> ago in <%= @post.category.name rescue 'Digital Marketing' %></p>

      <p><%= display_main_image(@post) %></p>

      <p><%= (render_with_hashtags @post.content).html_safe %></p>

      <p class="text-left"><%= link_to 'Back', posts_path, class: "btn-style-alt small", style:"margin-top:50px;" %></p>

      <% if current_user %>
        <hr style="margin-top: 50px;"/>
        <p class="text-left">
          <%= link_to 'Edit', edit_post_path(@post), class: "control-link padding-right-10" %>
          <%= link_to 'Publish', publish_path(@post), method: :post, class: "control-link padding-right-10" if @post.draft? %>
        </p>
      <% end %>
    </div>

    <div class="col-lg-2 col-md-2 col-sm-0 col-xs-0"></div>
    <div class="clear"></div>
  </div>
</div>