<div class="row" style="border-top: 2px solid #FF738E;">
  <div class="section-footer">

    <p class="col-lg-3 col-md-3 col-sm-12 col-xs-12 text-left links">
      <span class="footer-heading"><b>SERVICES</b></span><br/>
      <%= link_to "Website Design & Development", website_path %><br/>
      <%= link_to "SEO", seo_path %><br/>
      <%= link_to "Paid Search", paid_search_path %><br/>
      <%= link_to "Social Media", social_path %>
    </p>

    <p class="col-lg-3 col-md-3 col-sm-12 col-xs-12 text-left links">
      <span class="footer-heading"><b>INFO</b></span><br/>
      <%= link_to "Home", root_path %><br/>
      <%= link_to "About", about_path %><br/>
      <%= link_to "Blog", posts_path %><br/>
      <%= link_to "Contact", contact_path %>
    </p>

    <p class="col-lg-3 col-md-3 col-sm-12 col-xs-12 text-left links">
      <span class="footer-heading"><b>CONTACT</b></span><br/>
      <a href="mailto:hello@pepperminty.co.uk"><span class="glyphicon glyphicon-envelope"></span> hello@pepperminty.co.uk</a><br/>
      <span class="glyphicon glyphicon-phone-alt footer-text"></span> <span class="footer-text">0333 050 9485</span><br/>
      <span class="glyphicon glyphicon-time footer-text"></span> <span class="footer-text">9am - 5pm (Monday - Friday)</span>
    </p>

    <p class="col-lg-3 col-md-3 col-sm-12 col-xs-12 text-left links">
      <%= link_to root_path do %><%= image_tag "logo-alt.png" %><% end %><br/>
    </p>

  </div>
</div>

<div class="row" style="border-top: 2px solid #FF738E;">
  <div class="section-footer-strap">
    <p class="text-center">
      <span class="text-center footer-text">
        Pepperminty Limited is a company registered in England and Wales. Registration no. 11662896
      <span>|</span>
        <%= link_to "Privacy Policy", privacy_policy_path, class: 'footer-link' %>
      <span>|</span>
        <%= link_to "Cookie Policy", cookie_policy_path, class: 'footer-link' %>
      </span>
    </p>
    <p class="text-center">
      <span class="text-center">
        <a href="https://twitter.com/PeppermintyHQ" target="_blank" class="fa fa-twitter footer-icon"></a>
        <a href="https://www.facebook.com/peppermintyHQ/" target="_blank" class="fa fa-facebook footer-icon"></a>
        <a href="https://www.instagram.com/pepperminty_marketing/" target="_blank" class="fa fa-instagram footer-icon"></a>
        <a href="https://www.linkedin.com/company/pepperminty/" target="_blank" class="fa fa-linkedin footer-icon"></a>
      </span>
    </p>
  </div>
</div>