<%# add navigation links to this file %>
<li class='nav-item'><%= link_to 'Home', root_path %></li>
<li class='nav-item'><%= link_to 'About', about_path %></li>
<li class='nav-item'>
  <a class="nav-link" data-toggle="dropdown">Services <span class="caret"></span></a>
  <ul class="dropdown-menu">
    <li class="nav-item"><%= link_to 'Website Design & Development', website_path %></li>
    <li class="nav-item"><%= link_to 'SEO', seo_path %></li>
    <li class="nav-item"><%= link_to 'Paid Search', paid_search_path %></li>
    <li class="nav-item"><%= link_to 'Social Media', social_path %></li>
  </ul>
</li>
<li class='nav-item'><%= link_to 'Blog', posts_path %></li>
<li class='nav-item'><%= link_to 'Contact', contact_path %></li>

<% if current_user %>
    <li class='nav-item'><%= link_to 'Categories', categories_path %></li>
    <li class='nav-item'><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></li>
<% else %>
    <!--<li class='nav-item'><%#= link_to 'Sign up', new_user_registration_path %></li>-->
    <!--<li class='nav-item'><%#= link_to 'Sign in', new_user_session_path %></li>-->
<% end %>