<%# add navigation links to this file %>
<li class='nav-item'><%= link_to 'Home', root_path %></li>
<li class='nav-item'><%= link_to 'About', about_path %></li>
<li class='nav-item'>
  <a class="nav-link" data-toggle="dropdown">Services <span class="caret"></span></a>
  <ul class="dropdown-menu">
    <li class="nav-item"><%= link_to 'Website Design & Development', website_path %></li>
    <li class="nav-item"><%= link_to 'SEO', seo_path %></li>
    <li class="nav-item"><%= link_to 'Paid Search', paid_search_path %></li>
    <li class="nav-item"><%= link_to 'Social Media', social_path %></li>
  </ul>
</li>
<li class='nav-item'><%= link_to 'Contact', contact_path %></li>
